$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin-top: 80px;
}

.btn {
  margin: 10px;
}

.modal-backdrop {
    z-index: 1020;
}
